doctype html
head
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.9/firebase.js")
body
    h1 Hello
    #container
    script(type="text/javascript").
        var stockList = new Firebase("https://activist-algo.firebaseio.com/stockList");

        $(document).ready(function() {
            stockList.on("child_added", function(snapshot) {
                var stock = snapshot.val();
                var stockID = snapshot.key();

                $("#container").append("<button id='stock'>" + stockID + "</button>");
                $("#container button#stock:last").click(function() {
                    var percentage = function(startPrice, endPrice) {
                        var a = endPrice / startPrice;
                        var b = a - 1;
                        var c = b * 100;
                        return c;
                    };

                    var result = percentage(stock.endPrice, stock.startPrice);
                    stockList.child(stockID).update({
                        "result": result,
                    });
                });
            });
        });
